@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color:black;
}

/* headings and logo*/

h1, h2 {
    font-family: 'Noto Sans Cypro Minoan', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

#logo {
    float: left;
    font-size: 300%;
}

/*navigation bar */

#menu {
    font-size: 140%;
    letter-spacing: 5px;
   }


#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

menu a:hover {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
  }

  .active {
    border-bottom:  1px solid black;
  }
