@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color:black;
}

/* headings and logo*/

h1, h2 {
    font-family: 'Noto Sans Cypro Minoan', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 300%;
}

